---
import { Image } from "astro:assets";
import Hero from "@/assets/images/hero.png";
import Search from "../icons/Search.astro";
---

<section class="py-4 xl:py-5 2xl:py-10 2xl:pb-0">
  <div
    class="@container relative mx-auto flex max-w-2xl 2xl:max-w-3xl justify-center md:pt-2 lg:pt-4 text-honey-900"
  >
    <h1
      class="absolute top-[-2%] lg:top-[1%] xl:top-[-1%] z-0 text-[15cqw] md:text-[16cqw] font-extrabold leading-none tracking-[0.01rem]
      text-honey-700 mask-b-from-0% xl:px-2"
    >
      HONEY
    </h1>

    <div
      class="absolute left-[6%] xl:left-[4%] z-10 hidden h-full flex-col justify-center md:flex text-sm pb-28"
    >
      <h2 class="text-sm font-bold leading-[1.45rem] 2xl:leading-6">
        PRODUCTOS DE LA <br /> MEJOR CALIDAD
      </h2>
      <button
        class="py-1.5 w-6/7 bg-honey-400 rounded-full mt-4 flex justify-center gap-1"
        >Explorar
        <Search size="16" class="h-full" />
      </button>
    </div>

    <Image
      src={Hero}
      alt="Imagen hero de la landing page de Apiare"
      class="relative z-10 h-auto w-full pr-3"
    />

    <div
      class="hidden md:flex absolute right-[6%] xl:right-[4%] h-full w-40 flex-col items-end justify-center pb-3"
    >
      <div class="font-display-secondary tracking-wide leading-3">
        <h3 class="text-3xl">MIEL</h3>
        <span>100% pura</span>
      </div>
    </div>
  </div>
</section>
