---
import { getCollection } from "astro:content";
import Banner from "@/components/Banner/Banner.astro";
import Hero from "@/components/Hero/Hero.astro";
import Gallery from "@/components/Products/Gallery.astro";
import Base from "@/layouts/Base.astro";

// Cargamos todas las entradas de la colección "productos".
// Devuelve un array, cada elemento tipado según tu esquema Zod.
const products = await getCollection("productos");
import "@fontsource-variable/cormorant-garamond";
import "@fontsource-variable/mulish";
import "@fontsource/love-ya-like-a-sister";
import Footer from "@/components/Footer/Footer.astro";
import Ads from "@/components/Ads/Ads.astro";
---

<Base title="Apiaré — Miel pura de nuestros apiarios">
  <main class="mt-25">
    <Hero />
    <Banner />
    <Gallery products={products} />
    <Ads />
    <Footer />
  </main>
</Base>
