---
// Barra inferior de copyright. El año se calcula en el build para no quedar
// desactualizado.
const year = new Date().getFullYear();
---

<div class="mt-2">
  <div
    class="rounded-full bg-honey-500 px-6 py-2 lg:py-1 text-xs text-center text-honey-25"
  >
    <p class="text-sm">&copy; {year} - Apiaré Miel Pura</p>
  </div>
  <p class="text-sm text-center mt-2 lg:mt-5">
    ✨ Desarrollado por Tomás Cárdenas
  </p>
</div>
